@font-face {
    font-family: "Teko";
    src: url(href="https://fonts.googleapis.com/css?family=Teko") format("truetype");
}
html, body {
	height: 100%;

}

body {
	margin:0;
	padding: 0;
	font-family: helvetica;

	
}

/************Container******************/
#container{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	position: relative;
	margin:auto;


}

/************Header Section*************/
#header{
	flex-grow: 0;
	flex-shrink: 1;
	max-height: 100px;
	background-color: #00a4d3;
	font-family: 'Teko', sans-serif;
	margin: 0px;
	padding: 5px;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	display: flex;
	justify-content: space-between;
	}

#header h1{
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 75px;
	margin:10px;
	vertical-align: middle;
	/*margin-left: 150px;*/
	margin-top: 0px;
}


#header img{
	flex-shrink: 1;
	padding-left: 25px;
	max-width: 200px;
	max-height: 100px;
}

/***************Menus*************/
#globalMenu{
	position: absolute;
	right: 20px;

}

#globalMenu ul{
		list-style-type: none;
		padding: 0px;
}

#globalMenu li{
	min-width: 125px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #ddd;
	font-family: helvetica, sans-serif;
	box-shadow: 10px 10px 5px #888888;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	border-radius: 5px;
	text-align: center;
}

#globalMenu a{
	text-decoration: none;
	color: #000;
}


#leftMenu{
	position: absolute;
	margin-left: 25px;
	min-width: 200px;

}


/**************Content*************/
#content{
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;

}

#col1{

	flex-grow: 1;
	flex-shrink: 1;

	min-width: 150px;
	max-width: 150px;
	background-color: #c9f1fd;
	border-style: solid;
	border-top: none;	
	border-color: #000000;
	position: relative;

}

#col2{
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	justify-content: space-around;
	height: auto;
	align-items: center;
	padding-left: 50px;

}

#col2 h3{
	text-align: center;
}

#col2 ul{
margin-left: auto;
margin-right: auto;
}



#col3{

	flex-grow: 1;
	flex-shrink: 1;
	height: auto;
	max-width: 60%;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}

/*#content img{
	height: 350px;

}*/

.equipmentThumb{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 200px;
	height: 90%;


}

.equipmentThumb img{

	max-width: 100%;
	max-height: 300px;

}


.equipmentThumb ul{
		list-style-type: none;
		padding: 0px;
}

.equipmentThumb li{
	max-width: 125px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
	font-family: helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	text-align: center;
	background: #fff;
	border-color: #00a4d3;
	font-size: 75%;
	box-shadow: 5px 5px 2px #888888;
}

.equipmentThumb a{
	text-decoration: none;
	color: #000;
}

.equipmentProfile{

	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 200px;
	height: 90%;
	

}
.equipmentProfile img{

	max-width: 100%;
	max-height: 600px;

}


/*************Footer ************/
#footer{

	flex: 0 0 auto;
	position: relative;
	border: 0px;
	display: flex;
	align-content: center;

}

.footerCol{
	flex:1 1 auto;
	line-height: 30px;
	margin: 3px;
	height: 30px;
	color: #fff;
	background-color: #000;
	text-align: center;


}

#terms {
    display: none;
    position: absolute;
    bottom: 30px;
    background-color: #000;
    
    
}

.footerCol:hover #terms{
	display: block;
	width: 100%;
}

.footerCol a{
	text-decoration: none;
	color: #fff;
}



/**************Default Unordered List Format ***********/
.ulMenu ul{
		list-style-type: none;
		padding: 0px;
}
.ulMenu li{
	position: relative;

	max-width: 125px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #ddd;
	font-family: helvetica, sans-serif;
	box-shadow: 10px 10px 5px #888888;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	border-radius: 5px;
	text-align: center;
}

.ulMenu a{
	text-decoration: none;
	color: #000;
}


.subMenu li{

	background-color: transparent;
	box-shadow: none;
	border-style: solid;


}

.subMenu li{
	position: relative;
	left: 30px;
	background: #fff;
	border-color: #00a4d3;
	font-size: 75%;
	box-shadow: 5px 5px 2px #888888;
}

.subMenu a{
	/*color: #00a4d3;*/
}
/**************Misc.****************************/
