
		body{

			min-height: 100%;
			font-family: arial, helvetica, sans-serif;
			
			padding: 0px 0px 0px 0px;
			margin:  0px 0px 0px 0px;	
		}
		
		.specialheading{
			font-style: italic;
		
		}

		a {

			background-color: #aaa;
			text-align: center;
			text-decoration: none;
			color: #000;
		}

		a:visited{
	   		text-decoration: none;
	   		color: #000;
	   	}

		#header{
			position: fixed;
			height: 106px;
			width: 100%;
			background: #cac;
			z-index: 1;

			padding: 0px 0px 0px 0px;
			margin:  0px 0px 0px 0px;
		}

		#header h1{
			font-size: 35px;
			padding-left: 145px;

		}

		#title{
	


		}

		#globalMenu {
			float: right;
		}

		#globalMenu a {

			width: 150px;
			background-color: #aaa;
			padding: 15px 15px 15px 15px;
			text-align: center;
			text-decoration: none;
			color: #000;
		}

		#globalMenu a:visited{
	   		text-decoration: none;
	   		color: #000;
		}



		#leftmenu{
			position: absolute;

			bottom:125px;
			width: 105px;

			background: #bba;

			padding: 0px 0px 0px 0px;
			margin:  0px 0px 0px 0px;
		}

				#leftmenu ul{
					list-style-type: none;

					padding: 0px 0px 0px 0px;
					margin:  0px 0px 0px 0px;
				}

				#leftmenu li{
					list-style-type: none;

					padding: 40px 0px 0px 15px;
					margin:  0px 0px 0px 0px;
				}	

		#rightcontent{
			position: absolute;
			background: #aff;
			padding: 15px 15px 15px 15px;
			margin:  0px 0px 0px 107px;
		}

				#rightcontent h2, h3, h5{
					
					padding: 0px 0px 0px 0px;
					margin:  0px 0px 0px 0px;
				}

				.picright{
					width:250px;
					float:right;

					padding: 0px 0px 0px 0px;
					margin:  0px 0px 0px 20px;
					
				}

				.picleft{
					width:200px;
					float:left;

					padding: 0px 0px 0px 0px;
					margin:  0px 20px 0px 0px;
					
				}		 
				/* Hacked from http://stackoverflow.com/questions/9724484/modifying-offset-of-link 
				This allows the internal hyperlinks to properly position within the wrapper*/
				/*get{
					position: relative; bottom: 189px;
				}*/

		#footer{
			position: absolute;
			bottom:0px;
			height: 125px;
			width: 100%;
			background: #ccc;
			text-align: center;

			padding: 0px 0px 0px 0px;
			margin:  0px 0px 0px 0px;
		}
	